.app-light {
  .duo-button {
    color: $TYPOGRAPHY_4;
  }

  .duo-button-default {
    $gradient-primary: linear-gradient(
      90deg,
      $SURFACE_0 25%,
      $PRIMARY_LIGHT 25%,
      $PRIMARY_LIGHT 60%,
      $PRIMARY 100%
    );

    $gradient-secondary: linear-gradient(
      90deg,
      $SURFACE_0 25%,
      $SECONDARY_LIGHT 25%,
      $SECONDARY_LIGHT 60%,
      $SECONDARY 100%
    );

    &.duo-button-primary {
      background-image: $gradient-primary;
    }

    &.duo-button-secondary {
      background-image: $gradient-secondary;
    }

    &:hover,
    &:active {
      color: $TYPOGRAPHY_0;
    }
  }

  .duo-button-text {
    &.duo-button-primary {
      &:hover,
      &:focus {
        color: $PRIMARY;
      }
    }
    &.duo-button-secondary {
      &:hover,
      &:focus {
        color: $SECONDARY;
      }
    }
  }
}

.app-dark {
  .duo-button {
    color: $TYPOGRAPHY_0;
  }

  .duo-button-default {
    $gradient-primary: linear-gradient(
      90deg,
      $SURFACE_3 25%,
      $PRIMARY 25%,
      $PRIMARY 60%,
      $PRIMARY_LIGHT 100%
    );

    $gradient-secondary: linear-gradient(
      90deg,
      $SURFACE_3 25%,
      $SECONDARY 25%,
      $SECONDARY 60%,
      $SECONDARY_LIGHT 100%
    );

    &.duo-button-primary {
      background-image: $gradient-primary;
    }

    &.duo-button-secondary {
      background-image: $gradient-secondary;
    }

    &:hover,
    &:active {
      color: $TYPOGRAPHY_0;
    }
  }

  .duo-button-text {
    &.duo-button-primary {
      &:hover,
      &:focus {
        color: $PRIMARY_LIGHT;
      }
    }
    &.duo-button-secondary {
      &:hover,
      &:focus {
        color: $SECONDARY_LIGHT;
      }
    }
  }
}

.duo-button {
  color: inherit;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.5em 1em;
  margin: 0.2em 0.2em;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: box-shadow 300ms, color 300ms;
}

.duo-button-default {
  background-position: 0%;
  background-size: 400% 100%;
  box-shadow: $SHADOW_1;
  transition: background-position 500ms, color 500ms 50ms;

  &:hover,
  &:focus {
    background-position: 100%;
    box-shadow: $SHADOW_2;
  }

  &:active {
    box-shadow: $SHADOW_1;
  }
}

.duo-button-text {
  background: none;
}
