$PRIMARY_LIGHT: #4aad95;
$PRIMARY: #047d67;
$PRIMARY_DARK: #00503d;
$SECONDARY_LIGHT: #ff7588;
$SECONDARY: #d1425c;
$SECONDARY_DARK: #9a0032;

$TYPOGRAPHY_0: #ffffff;
$TYPOGRAPHY_1: #e1e1e1;
$TYPOGRAPHY_2: #c3c3c3;
$TYPOGRAPHY_3: #2f2f2f;
$TYPOGRAPHY_4: #1e1e1e;
$TYPOGRAPHY_5: #000000;

$SURFACE_0: #fefefe;
$SURFACE_1: #e7e7e7;
$SURFACE_2: #cacaca;
$SURFACE_3: #444444;
$SURFACE_4: #333333;
$SURFACE_5: #111111;

$SHADOW_0: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
$SHADOW_1: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
$SHADOW_2: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
